{# templates/user/newAdmin.html.twig #}
{% extends 'films/baseFilms.html.twig' %}

{% block body %}
    <h1>Crear Nuevo Administrador</h1>
    {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button class="btn">Crear Administrador</button>
    {{ form_end(userForm) }}
{% endblock %}
